@model IEnumerable<InfnetMovieDataBase.Domain.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes</h1>

<p>
    @Html.ActionLink("Create", "Create", "Filme", null, new { @class = "btn btn-success" })
 </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloOriginal)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloOriginal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Filme", new { id = item.Id }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Details", "Details", "Filme", new { id = item.Id }, new { @class = "btn btn-info" } )  
                @Html.ActionLink("Delete", "Delete","Filme", new { id = item.Id }, new { @class = "btn btn-danger" } )
            </td>
        </tr>
}
    </tbody>
</table>
