@model IEnumerable<AvaliacaoInfnet.Web.Models.PerfilViewModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Ativo:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReferenceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReferenceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReferenceId })
            </td>
        </tr>
    }
</table>