@model IEnumerable<InfnetMovieDataBase.Domain.Filme>

@{
    ViewData["Title"] = "Filme";
}

<h1>Filme</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloOriginal)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TituloOriginal)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back", "Index", "Filme", null, new { @class = "btn btn-secondary" })
</div>
