@model IEnumerable<InfnetMovieDataBase.Domain.Ator>

@{
    ViewData["Title"] = "Index";
}

    <h1>Elenco</h1>

<p>
    @Html.ActionLink("Create", "Create", "Ator", null, new { @class = "btn btn-success" })
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Ator", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Details", "Details", "Ator", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", "Ator", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
